@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  max-width: 1000px;
  height: 650px;
}
.carousel > .swiper {
  max-width: max-content;
  max-height: 300px;
}
@media (max-width: 700px) {
  .swiper {
    height: 250px;
    width: 100%;
  }
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide > span,
.swiper-slide > span > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination > span {
  --swiper-theme-color: rgb(31 41 55 / var(--tw-bg-opacity));
}
.swiper-button-next,
.swiper-button-prev {
  --swiper-theme-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.imgdiv > span {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.carousel > .swiper > .swiper-pagination {
  color: #d1d5db;
}
video {
  object-fit: cover;
}
.-z-10 > span {
  width: 100%;
}
.shrink-0 > span {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@layer utilities {
  @media (min-width: 700px) {
    .scrollbar::-webkit-scrollbar {
      width: 20px;
      height: 20px;
    }

    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #f7f4ed;
    }

    .scrollbar::-webkit-scrollbar-thumb {
      background: #6b7280;
      border-radius: 100vh;
      border: 3px solid #f6f7ed;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #6b7280;
    }
  }
}
